{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<main class="main">
    <div class="pesquisa">
        <form action="">
            <input type="search" class="input-pesquisa" placeholder="Pesquisar receitas...">
            <input type="submit" class="submit" value="Buscar">
        </form>
    </div>

    <!-- Container único -->
    <div class="receitas">
        {% for recipe in receitas %}
        <div class="receita">
            <div class="receita-imagem">
                <img src="{{ recipe.rec_imagem.url }}" alt="{{ recipe.rec_nome }}">
            </div>
            <div class="info_receita">
                <h2>{{ recipe.rec_nome }}</h2>
                <div class="info-receita-container">
                    <p><i class="fa-regular fa-user"></i> {{ recipe.rec_user_id.username }}</p>
                    <p><i class="fa-regular fa-calendar"></i> {{ recipe.rec_data_criacao|date:"d/m/Y" }}</p>
                    <p><i class="fa-solid fa-layer-group"></i> {{ recipe.rec_categoria.cat_nome }}</p>
                </div>
            </div>
            <div class="descricao-receitas">
                <p>{{ recipe.rec_descricao }}</p>
            </div>
            <div class="info-receita-footer">
                <div class="info-adicionais">
                    <h3><i class="fa-regular fa-clock"></i> Preparo</h3>
                    <h4>{{ recipe.rec_tempo_preparo }} min</h4>
                </div>
                <div class="info-adicionais">
                    <h3><i class="fa-solid fa-cookie-bite"></i> Porções</h3>
                    <h4>{{ recipe.rec_rendimento }}</h4>
                </div>
            </div>
            <a href="{% url 'Receitas-detail' recipe.rec_id %}" class="receita-btn">Ver Receita</a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
