{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/register_login.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="painel">
        <h1>Registro de Usuário</h1>
        <div class="formulario">
            <form action="{% url 'Receitas-register' %}" method="post">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="email" name="email">

                <label for="nome">Nome:</label>
                <input type="text" name="nome">

                <label for="password">Senha:</label>
                <input type="password" name="password">
                
                <label for="confirm_password">Confirmar Senha:</label>
                <input type="password" name="confirm_password">

                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

