{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register_login.css' %}">
</head>
<body>
    <div class="main">
        <div class="painel">
            <h1>Registro de Usuário</h1>
            <div class="formulario">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="email" name="email">

                    <label for="nome">Nome:</label>
                    <input type="text" name="nome">

                    <label for="password">Senha:</label>
                    <input type="password" name="password">
                    
                    <label for="confirm_password">Confirmar Senha:</label>
                    <input type="password" name="confirm_password">

                    <button type="submit">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>